/*
 * CPSC 1030 - Term Project Demo
 * Cordell Bonnieux 100372192
 */

/*
* imports
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/*
* reset & general styles
*/
html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #f0db4f;
    color: #323330;
    font-family: 'Fira Code', monospace;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.social {
    cursor: pointer;
    margin: 2px 12px;
    border-radius: 32px;
    background-color: transparent;
    transition: 0.3s;
}

.social:hover {
    background-color: #f5f6f7;
}

/*
* header & navigation
*/
header {
    color: #323330;
    text-align: center;
}

header a {
    color: #323330;
    text-decoration: none;
}

header #wrap {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 10px 0;
    padding:5px;
}

header #wrap h1 {
    text-align: left;
    margin: 0;
    padding: 0;
}

header nav #hamburger {
    background-color: #f0db4f;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 34px;
    margin: 4px;
    padding: 6px;
    border-radius: 4px;
}

header nav #hamburger span{
    width: 32px;
    height: 4px;
    margin: 6px 0;
    display: block;
    background-color: #323330;
    border-radius: 4px;
}

header nav #socials, header nav ul {
    position: fixed;
    transform: skewY(4deg);
    margin: 0;
    z-index: 2;
    width: 50%;
}

header nav #socials {
    padding-top: 6px;
    top: 404px;
    right: 20px;
    background-color: #f0db4f;
}

header nav ul {
    padding: 0;
    list-style: none;
    top: 86px;
    right: 20px;
}

header nav li {
    background-color: #f0db4f;
    padding: 18px;
}

header nav li a{
    font-size: 1.4em;
}

/*
* large size nav
header nav {
    max-width: 900px;
    margin: 0 auto;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0; 
    padding: 0;
}

header nav ul li{

}
*/

header nav ul li a {
    border-bottom: 3px solid transparent;
    transition: 0.1s;
    font-size: 1.3em;
}

header nav ul li a:hover {
    border-bottom-color: #323330;
}


/*
*   main content area
*/
main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    max-width: 900px;
    margin: 0 auto;
}

#avatar {
    margin: 100px 0;
    border-radius: 360px;
}

.text {
    background-color: #f5f6f7;
    color: #323330;
    padding: 2em;
    margin: 100px 0;
    max-width: 400px;
    transform: skewY(-7deg);
}

.text h2, .text h3, .text p {
    margin: 1em;
    padding: 0;
}

.text a {
    color: #f0db4f;
}
/*
*   footer
*/
footer {

}