/*
* imports
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/*
* reset & general styles
*/
html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #f0db4f;
    color: #323330;
    font-family: 'Fira Code', monospace;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}


/*
* header & navigation
*/
header {
    color: #323330;
    text-align: center;
}

header a {
    color: #323330;
    text-decoration: none;
}

header #wrap {
    /*
    position: relative;
    display: inline-block;
    margin: 5% auto;
    text-align: left;
    */
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 25px 0;
    padding:5px;
}

header #wrap * {
    display: inline-block;
    /*
    position: absolute;
    top: 33%;
    */
    margin: 0;
    padding: 0;
}

header #wrap h1 {
    /*
    left: 0;
    */
    text-align: left;
}

header #wrap #socials {
    /*
    right: 0;
    */
}

header nav #hamburger {
    width: 32px;
    height: 32px;
    margin: 4px;
    padding: 4px;
}

header nav #hamburger span{
    width: 32px;
    height: 4px;
    margin: 6px 0;
    display: block;
    background-color: #323330;
    border-radius: 4px;
}

/*
* large size nav
header nav {
    max-width: 900px;
    margin: 0 auto;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0; 
    padding: 0;
}

header nav ul li{

}

header nav ul li a {
    border-bottom: 3px solid transparent;
    transition: 0.1s;
    font-size: 1.3em;
}

header nav ul li a:hover {
    border-bottom-color: #323330;
}
*/

/*
*   main content area
*/
main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    max-width: 900px;
    margin: 0 auto;
}

#avatar {
    margin: 100px 0;
    border-radius: 360px;
}

.text {
    background-color: #f5f6f7;
    color: #323330;
    padding: 2em;
    margin: 100px 0;
    max-width: 400px;
    transform: skewY(-7deg);
}

.text h2, .text h3, .text p {
    margin: 1em;
    padding: 0;
}

.text a {
    color: #f0db4f;
}
/*
*   footer
*/
footer {

}